html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0%;
  overflow: hidden;
}

#main-display {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: calc(100% - 65px);
}

#message-div {
  position: absolute;
  top: calc(100% - 65px - 1em);
  left: 1%;
  width: 98%;
  height: 1em;
  overflow-x: auto;
  color: rgb(180, 1, 1);
  font-size: 1em;
}

#inventory {
  position: absolute;
  top: calc(100% - 65px);
  left: 0%;
  width: 100%;
  height: 65px;
  background-color: cadetblue;
  overflow-x: auto;
  white-space: nowrap;
}

.inventory-item {
  /* background-color: cadetblue; */
  height: calc(100% - 14px);
  margin-top: 4px;
  width: 51px;
  margin-left: 15px;
  border: inset;
  display: inline-block;
  white-space: normal;
}

/* .inventory-item-img {
  display: inline-block;
  width: 50%;
  height: 50%;
} */